body {
    background-color: #fce4ec; /* Светло-розовый фон */
    font-family: 'Dancing Script', cursive; /* Рукописный шрифт */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #333; /* Цвет текста */
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 600px; /* Ограничение ширины для удобства чтения */
}

.letter-container {
    font-size: 1.2em;
    line-height: 1.6;
}
