body {
    background-color: #F0E6F9;
    font-family: 'Caveat', cursive;
    color: #800080;
    text-align: center;
    margin: 0; /* Убираем отступы по умолчанию */
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: #9370DB;
}

.container {
    width: 90%; /* Делаем контейнер более адаптивным */
    margin: 0 auto;
    padding: 20px;
}

.snake-container {
    margin-top: 20px;
    text-align: center;
}

.snake-container img {
    max-width: 90%; /* Делаем рисунок адаптивным */
    height: auto;
}

.typing-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #9370DB;
    width: 0;
    display: inline-block;
}
